.home-hero {
    background-image: url('../../assets/images/bg-pattern-home-2.svg');
    background-position: bottom;
    background-size: 100% 93px;
    height: 450px;
    padding-top: 2rem;
}

.home-hero__title---emphasize {
    color: var(--light-coral);
    font-style: normal;
}

.home-hero__description {
    margin-top: 1.7rem;
}

.services {
    background-color: var(--sacramento-state-green);
    background-image: url('../../assets/images/bg-pattern-home-3.svg');
    background-position: right -74px top 0;
    background-size: 166px;
}

.services__title {
    text-align: left !important;
    width: 60%;
}

.services__title::before {
    background-color: var(--light-coral);
    content: '';
    display: block;
    height: 3px;
    margin-bottom: 1.8rem;
    width: 37px;
}

.testimonials {
    background-image: url('../../assets/images/bg-pattern-home-4-about-3.svg'), url('../../assets/images/bg-pattern-home-5.svg');
    background-size: 150px;
    background-position: left top, right bottom;
    padding-bottom: 3rem;
    padding-top: 9rem;
}

.testimonials__title {
    margin: 0 auto;
    width: 90%;
}

.testimonials__title--highlight {
    color: var(--rapture-blue);
}

@media screen and (min-width: 490px) {
    .home-hero {
        background-size: 86% 80px;
    }
}

@media screen and (min-width: 576px) {
    .home-hero {
        background-position: center bottom;
        background-size: 60% 68px;
        height: auto;
        padding-bottom: 10rem;
    }

    .home-hero__title {
        font-size: 2.7rem;
        font-weight: 700;
    }

    .home-hero__description {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .testimonials__title {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .home-hero {
        background-position: 55vw bottom;
        background-size: 31% 64px;
        padding-top: 4rem;
    }

    .home-hero::before {
        background-image: url('../../assets/images/bg-pattern-home-1.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 129px;
        left: -95px;
        position: absolute;
        width: 15%;
    }

    .home-hero__title {
        font-size: 3.6rem;
        width: 50%;
    }

    .home-hero__description {
        margin-top: 0;
        width: 40%;
    }

    .home-hero__description::before {
        background-color: var(--rapture-blue);
        content: '';
        display: block;
        height: 3px;
        margin-bottom: 2rem;
        width: 42px;
    }

    .services {
        background-position: right -74px bottom 0;
        padding-bottom: 5rem !important;
    }

    .services__title {
        font-size: 1.75rem;
        text-align: left !important;
        width: 29%;
    }

    .services__cards-container {
        width: 60%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .testimonials {
        padding-bottom: 5rem;
        padding-top: 6rem;
    }

    .testimonials__title {
        width: 70%;
    }

}

@media screen and (min-width: 992px) {
    .home-hero__title {
        font-size: 3.9rem;
    }
}

@media screen and (min-width: 1200px) {
    .home-hero {
        background-size: 27% 64px;
    }

    .home-hero::before {
        background-size: 100% 96%;
        left: -113px;
    }

    .home-hero__title {
        font-size: 4.2rem;
    }

    .services {
        padding-bottom: 1rem !important;
    }

    .services__title {
        font-size: 2rem;
        width: 26%;
    }

    .services__cards-container {
        margin-left: 25%;
    }

    .testimonials__title {
        width: 60%;
    }
}

@media screen and (min-width: 1400px) {
    .home-hero {
        background-position: 59vw bottom;
        background-size: 20% 71px;
        padding-bottom: 12rem;
        padding-top: 6rem;
    }

    .home-hero::before {
        height: 135px;
        left: -6vw;
        width: 10%;
    }

    .home-hero__title {
        font-size: 4.5rem;
        width: 35%;
    }

    .testimonials__title {
        width: 60%;
    }
}