.bg-no-repeat {
    background-repeat: no-repeat;
} 

.bg-contain {
    background-size: contain;
}

.px {
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (min-width: 576px) {
    .px {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 992px) {
    .px {
        padding-left: 10%;
        padding-right: 10%;
    }
}